# Default values for eks-anywhere-packages. The chart will work out of the box, but these are the tweakable values for the helm chart.
# This is a YAML-formatted file.

# -- The namespace to deploy the resources into.
namespace: eksa-packages
# -- Overrides the chart's name.
nameOverride: ""
# -- Overrides the chart's computed fullname.
fullnameOverride: ""
# -- Additional labels to add into metadata.
additionalLabels: {}
# app: eks-anywhere-packages
# -- Additional annotations to add into metadata.
additionalAnnotations: {}
# -- sourceRegistry for all container images in chart.
sourceRegistry: public.ecr.aws/eks-anywhere
# -- clusterName managed by a particular PBC
clusterName: bundle-controller
# -- Image pull policy for Docker images.
imagePullPolicy: IfNotPresent
proxy:
  HTTP_PROXY: ""
  HTTPS_PROXY: ""
  NO_PROXY: ""
serviceAccount:
  # -- The name of the ServiceAccount to use.
  name: "eks-anywhere-packages-serviceaccount"
  # -- Additional annotations for the ServiceAccount.
  annotations: {}
serviceMonitor:
  # -- Specifies whether a ServiceMonitor should be created.
  enabled: false
  # -- Additional labels for the ServiceMonitor.
  additionalLabels: {}
  # -- Endpoint configuration for the ServiceMonitor.
  endpointConfig: {}
# -- Number of replicas.
replicaCount: 1
# -- Strategy for updating the pod.
strategy:
  type: Recreate
# -- Additional labels for the pod.
podLabels: {}
# -- Additional annotations for the pod.
podAnnotations: {}
# -- SecurityContext for the pod.
podSecurityContext:
  runAsNonRoot: true
# -- Override the default termination grace period for the pod.
terminationGracePeriodSeconds: 10
# -- Node selectors to schedule the pod to nodes with labels.
nodeSelector:
  kubernetes.io/os: linux
# -- Tolerations to allow the pod to be scheduled to nodes with taints.
tolerations: []
controller:
  # -- SecurityContext for the controller container.
  securityContext:
    allowPrivilegeEscalation: false
  # -- livenessProbe controls the values for controller container readiness. TODO Add in templating later
  livenessProbe:
    path: /healthz
    port: 8081
    initialDelaySeconds: 15
    periodSeconds: 20
  # -- readinessProbe controls the values for controller container readiness. TODO Add in templating later
  readinessProbe:
    path: /readyz
    port: 8081
    initialDelaySeconds: 5
    periodSeconds: 10
  # -- Controller repository name.
  repository: "eks-anywhere-packages"
  # -- Controller image tag, or SHA256 checksum.
  tag: "{{eks-anywhere-packages}}"
  # -- Whether to turn on Webhooks for the controller image
  enableWebhooks: "true"
  # -- Additional environment variables for the controller pod.
  # - name: EKSA_PUBLIC_KEY
  #   value: ""
  env: 
    - name: EKSA_PUBLIC_KEY
      value: "MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEnP0Yo+ZxzPUEfohcG3bbJ8987UT4f0tj+XVBjS/s35wkfjrxTKrVZQpz3ta3zi5ZlgXzd7a20B1U1Py/TtPsxw=="
  # env:
  #   - name: EKSA_PUBLIC_KEY,
  #     value: "12345"
  # -- Resources for the controller pod.
  resources:
    requests:
      cpu: 100m
      memory: 50Mi
    limits:
      cpu: 750m
      memory: 450Mi
# Additional Variables to configure cronjob
cronjob:
  name: ecr-refresher
  # -- ECR refresher repository name.
  repository: "ecr-token-refresher"
  # -- ECR refresher tag, or SHA256 checksum.
  tag: "{{ecr-token-refresher}}"
#  Additional Variables for Config Map for namespace
nsconfigmap:
  name: ns-secret-map
