.idea
*.sw*
.vscode
.DS_Store
bin/*
testbin
cover.out
.dir-locals.el
/_artifacts
/kubetest-plugins/bin
/generatebundlefile/vendor
/.ignore
config/packagebundlecontroller/bundle.yaml
config/packagebundlecontroller/pbc.yaml
