{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Installing the Chart

```bash
helm install eks-anywhere-packages-crds {{ template "chart.name" . }} 
```


{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
