apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-packages-eks-amazonaws-com-v1alpha1-packagebundle
  failurePolicy: Fail
  name: vpackagebundle.kb.io
  rules:
  - apiGroups:
    - packages.eks.amazonaws.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - packagebundles
  sideEffects: None
