{{- $render := include "eks-anywhere-packages.rendertype" . }}
{{- if eq $render "controller" }}
{{- if not (lookup "v1" "Secret" "eksa-packages" "aws-secret") -}}
apiVersion: v1
kind: Secret
metadata:
  annotations:
    "helm.sh/resource-policy": keep
  name: aws-secret
  namespace: {{ .Values.namespace }}
data:
  {{- with .Values.awsSecret }}
  AWS_ACCESS_KEY_ID: "{{ .id }}"
  AWS_SECRET_ACCESS_KEY: "{{ .secret }}"
  REGION: "{{ .region }}"
  {{- if .config }}
  config: "{{ .config }}"
  {{- end }}
  {{- end }}
type: Opaque
{{- end }}
{{- end }}
