{{- if .Values.workloadOnly }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "eks-anywhere-packages.fullname" . }}-manager-role
  labels:
    {{- include "eks-anywhere-packages.labels" . | nindent 4 }}
  {{- with .Values.additionalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - packages.eks.amazonaws.com
  resources:
  - packagebundlecontrollers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - packages.eks.amazonaws.com
  resources:
  - packagebundlecontrollers/finalizers
  verbs:
  - update
- apiGroups:
  - packages.eks.amazonaws.com
  resources:
  - packagebundlecontrollers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - packages.eks.amazonaws.com
  resources:
  - packagebundles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - packages.eks.amazonaws.com
  resources:
  - packagebundles/finalizers
  verbs:
  - update
- apiGroups:
  - packages.eks.amazonaws.com
  resources:
  - packagebundles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - packages.eks.amazonaws.com
  resources:
  - packages
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - packages.eks.amazonaws.com
  resources:
  - packages/finalizers
  verbs:
  - update
- apiGroups:
  - packages.eks.amazonaws.com
  resources:
  - packages/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "eks-anywhere-packages.fullname" . }}-metrics-reader
  labels:
    {{- include "eks-anywhere-packages.labels" . | nindent 4 }}
  {{- with .Values.additionalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "eks-anywhere-packages.fullname" . }}-proxy-role
  labels:
    {{- include "eks-anywhere-packages.labels" . | nindent 4 }}
  {{- with .Values.additionalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
{{- end }}
