{{ $credtype := include "lookup-credential.method" . }}
{{- $render := include "eks-anywhere-packages.rendertype" . }}
{{- if or (eq $render "controller") (eq $render "workload") }}
{{ if (eq $credtype "credential-package" ) }}
apiVersion: packages.eks.amazonaws.com/v1alpha1
kind: Package
metadata:
  name: ecr-credential-provider-package
  namespace: eksa-packages-{{.Values.clusterName}}
  annotations:
    "helm.sh/resource-policy": keep
    "anywhere.eks.aws.com/internal": "true"
spec:
  packageName: credential-provider-package
  targetNamespace: eksa-packages
  config: |-
    proxy:
    {{- toYaml .Values.proxy | nindent 6 }}
    tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
      - key: "node-role.kubernetes.io/control-plane"
        operator: "Exists"
        effect: "NoSchedule"
    sourceRegistry: {{.Values.sourceRegistry}}
    credential:
      - matchImages:
        - {{.Values.defaultImageRegistry}}
        profile: "default"
        secretName: aws-secret
        defaultCacheDuration: "5h"
{{- end }}
{{- end }}
