{{- if semverCompare ">=1.21-0" .Capabilities.KubeVersion.Version }}
apiVersion: batch/v1
{{- else }}
apiVersion: batch/v1beta1
{{- end }}
kind: CronJob
metadata:
  namespace: {{ .Values.namespace }}
  name: cron-ecr-renew
spec:
  schedule: "0 */5 * * *"
  successfulJobsHistoryLimit: 3
  suspend: {{.Values.cronjob.suspend}}
  failedJobsHistoryLimit: 5
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          serviceAccountName: {{ include "eks-anywhere-packages.serviceAccountName" . }}
          containers:
            - name: {{.Values.cronjob.name}}
              image: {{.Values.sourceRegistry}}{{ template "template.image" .Values.cronjob }}
              imagePullPolicy: {{ .Values.imagePullPolicy }}
              env:
                - name: ECR_TOKEN_SECRET_NAME
                  value: ecr-token
                - name: AWS_ACCESS_KEY_ID
                  valueFrom:
                    secretKeyRef:
                      name: aws-secret
                      key: ID
                      optional: true
                - name: AWS_SECRET_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: aws-secret
                      key: SECRET
                      optional: true
                - name: AWS_REGION
                  valueFrom:
                    secretKeyRef:
                      name: aws-secret
                      key: REGION
                      optional: true
                - name: HTTP_PROXY
                  value: {{ .Values.proxy.HTTP_PROXY | quote}}
                - name: HTTPS_PROXY
                  value: {{ .Values.proxy.HTTPS_PROXY | quote}}
                - name: NO_PROXY
                  value: {{ .Values.proxy.NO_PROXY | quote}}
