name: Vulnerability Scan
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    # Run daily at 7am UTC
    - cron: '0 7 * * *'

permissions:
  contents: read

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          show-progress: false
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          base-ref: ${{ github.event.pull_request.base.sha || github.event.before || github.sha }}
          head-ref: ${{ github.event.pull_request.head.sha || github.sha }}

  govulncheck:
    name: govulncheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          show-progress: false
      - name: govulncheck (root module)
        uses: golang/govulncheck-action@v1
        with:
          check-latest: true
          repo-checkout: false
          go-version-input: '1.24'
      - name: govulncheck (credentialproviderpackage)
        uses: golang/govulncheck-action@v1
        with:
          check-latest: true
          repo-checkout: false
          cache: false
          work-dir: credentialproviderpackage
          go-version-input: '1.24'
      - name: govulncheck (generatebundlefile)
        uses: golang/govulncheck-action@v1
        with:
          check-latest: true
          repo-checkout: false
          cache: false
          work-dir: generatebundlefile
          go-version-input: '1.24'
      - name: govulncheck (ecrtokenrefresher)
        uses: golang/govulncheck-action@v1
        with:
          check-latest: true
          repo-checkout: false
          cache: false
          work-dir: ecrtokenrefresher
          go-version-input: '1.24'
